<div class="card">
  <div class="card-body row">
    <div class="col-4">
     <%= cl_image_tag(bike.photo.key ,
          width: 100, height: 75, ) %>
  </div>
    <div class="col-8">
          <div class="row"><%= bike.bike_type %> rented <%= bike.bookings.count %> times.</div>

          <%= link_to "See bike", bike_path(bike), class: "btn btn-primary"%>
          <%= link_to "Edit bike", edit_bike_path(bike), class: "btn btn-primary"%>
          <%= link_to "Delete",
                bike_path(bike),
                 data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
                 class: "btn btn-danger"%>
    </div>
  </div>
</div>
