<% if user_signed_in? %>

  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon ">
    <div class="container-fluid d-flex">
      <%= link_to "#", class: "navbar-brand" do %>
      <% end %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <%# <ul class="navbar-nav me-auto">
          <% if user_signed_in? %>
            <%# <li class="nav-item active">
              <%= link_to "Home", "#", class: "nav-link" %>

          <%# <% end %>
        <%# </ul> %>

        <!-- Centered search bar -->
        <%# <form class="d-flex mx-auto justify-content-center" role="search"> %>
          <%# <input class="form-control me-2" type="search" name="location" placeholder="location" aria-label="Search">
          <input class="form-control me-2" type="search" name="bike_type" placeholder="type of bike" aria-label="Search">
          <%= link_to "Search", bikes_path, class: "btn btn-success" %>
          <%= form_with url: bikes_path, method: :get, class: "d-flex mx-auto justify-content-center" do %>
            <%= select_tag(:bike_type, options_for_select([nil,"fat bike","city bike","race bike","cargo bike"]))%>
          <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
          <% end %>
        <%# </form> %>

        <ul class="navbar-nav ms-auto">
          <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <%= cl_image_tag(@user.photo.key), class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Dashboard", :dashboard, class: "dropdown-item" %>
                <%= link_to "New bike", new_bike_path, class: "dropdown-item", :data => { user: @user} %>
                <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

<% else %>

  <header class="navbar">
    <div class="container">
      <a href="/" class="logo">Cycle Swap</a>
      <nav class="nav-links">
        <a href="<%= new_user_session_path %>">Login</a>

      </nav>
    </div>
  </header>
<% end %>
