<div class="container my-5">
  <div class="row">
    <% if @bikes.any? %>
      <% @bikes.each do |bike| %>
        <div class="col-12 col-sm-6 col-md-4 mb-4">
          <div class="card h-100">
            <%= link_to bike_path(bike), class: "text-decoration-none" do %>
              <div class="card-header text-center">
                <h4 class="card-category mb-0"><%= bike.name %></h4>
              </div>
              <img src="<%= bike.image_url %>" class="card-img-top" alt="<%= bike.name %> image">
              <div class="card-body">
                <p class="card-text bike-description"><%= bike.description.truncate(100) %></p>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="col-12 text-center">
        <p>No bikes added</p>
      </div>
    <% end %>
  </div>
</div>
