<div class="container my-5 mt-8">
  <strong><h2 class="permanent-marker-regular">Available Bikes</h2></strong>
  <div class="row">
    <% if @bikes.any? %>
      <% @bikes.each do |bike| %>
        <div class="d-flex col-8 col-sm-4 col-md-3 mb-2 mx-0.5">
          <div class="rounded">
            <!-- Card Image -->
            <%= cl_image_tag(bike.photo.key, height: 300, width: 400, crop: :fill, class: "card-img-top") %>
            <!-- Card Body -->
            <div class="card-body">
              <h4 class="card-title my-2"><%= bike.bike_type %></h4>
              <p>€<%= bike.cost_per_day.to_i %> / day</p>
              <p class="card-text bike-description"></p>
              <div class="d-flex justify-content-between">
                <%= link_to "More Details", bike_path(bike), class: "btn btn-primary" %>
                <%= link_to "Book Now!", bike_path(bike), class: "btn btn-success" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="col-4" style="width: 50%; height: 400px;"
        data-controller ="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
    <% else %>
      <div class="col-8 text-center">
        <p>No bikes added</p>
      </div>
    <% end %>
  </div>
</div>



<div class="container">

</div>
